CHIAKI_AUTH_ENABLED=true

CHIAKI_AUTH_ALLOW_REGISTER=true

CHIAKI_ADMIN_USER=
CHIAKI_ADMIN_EMAIL=
CHIAKI_ADMIN_PASSWORD=

CHIAKI_DB_DIR=/home/user/db
CHIAKI_DB_NAME=chiaki.sqlite

CHIAKI_SESSION_DAYS=30
CHIAKI_SESSION_SECRET=PqbxUKERzVu4emUJvgeOd532hiG2lDqKi38DRvHHPE4

CHIAKI_MAX_HOSTS=4

CHIAKI_WASM_PORT=8090

CHIAKI_DISCOVERY_ENABLED=true

CHIAKI_SHARE_KEYWORD_PAUSE=true

CHIAKI_CLOUD_URL=https://chiaki.csphere.fr
