[submodule "test/munit"]
	path = test/munit
	url = https://github.com/nemequ/munit.git
[submodule "third-party/nanopb"]
	path = third-party/nanopb
	url = https://github.com/nanopb/nanopb.git
[submodule "third-party/jerasure"]
	path = third-party/jerasure
	url = https://github.com/streetpea/jerasure.git
[submodule "third-party/gf-complete"]
	path = third-party/gf-complete
	url = https://github.com/streetpea/gf-complete.git
[submodule "android/app/src/main/cpp/oboe"]
	path = android/app/src/main/cpp/oboe
	url = https://github.com/google/oboe
[submodule "switch/borealis"]
	path = switch/borealis
	url = https://github.com/streetpea/borealis.git
[submodule "third-party/curl"]
	path = third-party/curl
	url = https://github.com/curl/curl
[submodule "third-party/cpp-steam-tools"]
	path = third-party/cpp-steam-tools
	url = https://github.com/streetpea/cpp-steam-tools.git
