*~
*.swp
.idea
.env
/db/*.sqlite
/db/*.sqlite-*
/db/*.db
build
cmake-build-*
/build_*
/build-*
/debug
/Debug
/release
/Release
.DS_store
*.AppImage
appdir
/ffmpeg*
/Chiaki
/SDL2-*
/opus*
/ffmpeg*
/libplacebo*
/sdl2-*
/protoc*
/openssl*
scripts/chiaki-ng.iss
scripts/Output
.vs
CMakeSettings.json
chiaki.rb
gui/chiaking.rc
*.jks
secret.tar
keystore-env.sh
compile_commands.json
.ccls-cache
.cache/
.gdb_history
chiaki.conf
/appimage
.cache/
*.vscode
site/
wasm/node_modules
wasm/electron/node_modules
wasm/electron/dist
wasm/electron/.stage
wasm/build/
/tools/protoc
/tools/wasm-python
