[Desktop Entry]
Type=Application
Name=chiaki-ng
Comment=PlayStation Remote Play Client
Exec=chiaki
Icon=chiaking
Categories=Game;Network;RemoteAccess;
