# Begin playing PlayStation remote play via Chiaki on your Steam Deck :)
flatpak run io.github.streetpea.Chiaki4deck --passcode "{{login_passcode}}" --{{mode}} stream $(printf %q "{{server_nickname}}") ${addr}