name: GitHub Releases to discord release
on:
  release:
    types: [released]

jobs:
  github-releases-to-discord:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Sleep for 1 hour to wait for release artifacts to be published before putting out Discord notification
        run: |
          echo "GITHUB_TAG=${GITHUB_REF_NAME}" >> $GITHUB_ENV
          sleep 3600s
        shell: bash
      - name: Github Releases To Discord
        uses: SethCohen/github-releases-to-discord@v1.16.2
        with:
          webhook_url: ${{ secrets.WEBHOOK_URL }}
          color: "2105893"
          username: "Release Changelog"
          avatar_url: "https://cdn.discordapp.com/avatars/487431320314576937/bd64361e4ba6313d561d54e78c9e7171.png"
          content: "||@everyone A new relase has dropped at https://github.com/streetpea/chiaki-ng/releases/tag/${{ env.GITHUB_TAG }}||"
          footer_title: "Changelog"
          footer_icon_url: "https://cdn.discordapp.com/avatars/487431320314576937/bd64361e4ba6313d561d54e78c9e7171.png"
          footer_timestamp: true
          max_description: '4096'
          reduce_headings: true